.icon {
  display: inline-block;
  vertical-align: -0.125em;
  height: 1em;
  overflow: visible;
  font-size: inherit;
  fill: currentColor;
  pointer-events: none;

  &:not(:root) {
    overflow: visible;
  }
}
