.input {
  @include reset-input;
  margin-bottom: 24px;
  padding: 12px 16px;
  border: solid 2px map-get($colors, gray300);
  border-radius: 3px;
  width: 100%;
  font-size: 1.5rem;
  transition: border-color 140ms ease;

  &:focus {
    border-color: darken(map-get($colors, gray300), 4%);
  }
}
