*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  cursor: default;
  
  // For js detection of media queries
  &:after {
    display: none;
    content: 'desktop';

    @include breakpoint(handheld) {
      content: 'handheld';
    }

    @include breakpoint(tablet) {
      content: 'tablet';
    }

    @include breakpoint(mobile) {
      content: 'mobile';
    }
  }

}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
