body {
  font-family: $font-family;
  font-size: $font-size;

  & a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
  }
}

b,
strong {
  font-weight: bold;
  line-height: inherit;
}

i,
em {
  font-style: italic;
  line-height: inherit;
}

h1 {
  font-size: 32px;
  margin-bottom: .4em;
}

p {
  margin-bottom: 1em;
}
