// 
// Layout
// --------------------------

// Breakpoints
$breakpoints: (
  'mobile': 520px,
  'tablet': 900px,
  'handheld': 1024px,
  'desktop': 1440px
) !default;

// Tweakpoints
$tweakpoints: ();

// Grid
$grid-width: 100% !default;
$grid-max-width: 1230px !default;
$grid-columns: 12 !default;
$grid-columns-width: (100 / $grid-columns) !default;

// Grid gutter
$grid-gutter: (
  'desktop': 15px,
  'tablet': 15px,
  'mobile': 10px
) !default;

// Grid column gutter
$grid-column-gutter: (
  'desktop': 15px,
  'tablet': 10px,
  'mobile': 5px
) !default;


// 
// Typography
// --------------------------

// Font
$font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', Arial, sans-serif !default;
$font-size: 17px !default; // Base font size


// 
// Animation
// --------------------------

// Easings
$swift-out: cubic-bezier(.55, 0, .1, 1);
$apple-ease: cubic-bezier(.4, .01, .165, .99);
$apple-ease-two: cubic-bezier(.28, .11, .32, 1);

// Default easing
$default-easing: $swift-out !default;


// 
// Colors
// --------------------------

$color-black: #1a1a1a;
$color-light-black: #303030;
$color-dark-gray: #575656;
$color-gray: #646464;
$color-orange: #ff5825;
$color-yellow: #ffcd00;
$color-beige: #f7f7e8;

$color-facebook: #3b579d;
$color-twitter: #5faade;
$color-googleplus: #dd4b38;
