//
// Breakpoints
// --------------------------

$breakpoints: (
  mobile: 480px,
  tablet: 920px,
  desktop: 1200px
);

$tweakpoints: ();


//
// Grid
// --------------------------

$grid-width: 100%;
$grid-max-width: 1200px;
$grid-columns: 12;
$grid-columns-width: (100 / $grid-columns);

$grid-gutter: (
  desktop: 15px,
  tablet: 15px,
  mobile: 10px
);

$grid-column-gutter: (
  desktop: 15px,
  tablet: 10px,
  mobile: 5px
);


//
// Typography
// --------------------------

$font-family: 'Helvetica', Arial, sans-serif;
$font-family-alt: Georgia, serif;
$font-size: 17px;


//
// Easings
// --------------------------

$easings: (
  swiftOut: cubic-bezier(.55, 0, .1, 1),
  appleEase: cubic-bezier(.4, .01, .165, .99),
  appleEaseAlt: cubic-bezier(.28, .11, .32, 1)
);


//
// Colors
// --------------------------

$colors: (
  black: #1a1a1a,
  gray: #646464,
  orange: #ff5825,
  yellow: #ffcd00,
  // Social media colors
  facebook: #3b579d,
  twitter: #5faade,
  googleplus: #dd4b38
);

