.button {
  @include reset-button;
  padding: 15px 24px;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: map-get($colors, white);
  background: map-get($colors, blue);
  transition: all 200ms ease;

  &:focus,
  &:hover {
    background: darken(map-get($colors, blue), 4%);
  }
}
