.input {
  @include reset-input;
  margin-bottom: 24px;
  padding: 12px 16px;
  border: solid 2px map-get($colors, gray300);
  border-radius: 2px;
  width: 100%;
  font-family: map-get($fonts, primary);
  font-size: 1.5rem;
  transition: border-color 140ms map-get($easings, easeOutCubic);

  &:focus {
    border-color: map-get($colors, gray400);
  }
}
