*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: map-get($fonts, primary);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  &::after {
    display: none;

    @each $breakpoint, $value in $breakpoints {
      @include breakpoint($breakpoint) {
        content: '#{$breakpoint}';
      }
    }
  }
}

img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}
