.grid {
  display: flex;
  flex-flow: row wrap;
  width: $grid-width;
  max-width: $grid-max-width;
  margin-right: auto;
  margin-left: auto;

  &.-fluid {
    max-width: none;
  }

  &.-pad {
    @include grid-gutter($grid-gutter);

    & > .grid__column {
      @include grid-gutter($grid-column-gutter);
    }
  }

  &__reset {
    @include grid-reset-gutter;
  }

  &__column {
    &.-noPad {
      padding-right: 0;
      padding-left: 0;
    }

    &.-desktop {
      @for $i from 1 through $grid-columns {
        &-#{$i} {
          width: #{$i * $grid-columns-width * 1%};
        }
      }

      @include breakpoint(tablet) {
        @for $i from 1 through $grid-columns {
          &-#{$i} {
            width: 100%;
          }
        }
      }
    }

    &.-tablet {
      @include breakpoint(tablet) {
        @for $i from 1 through $grid-columns {
          &-#{$i} {
            width: #{$i * $grid-columns-width * 1%};
          }
        }
      }

      @include breakpoint(mobile) {
        @for $i from 1 through $grid-columns {
          &-#{$i} {
            width: 100%;
          }
        }
      }
    }

    &.-mobile {
      @include breakpoint(mobile) {
        @for $i from 1 through $grid-columns {
          &-#{$i} {
            width: #{$i * $grid-columns-width * 1%};
          }
        }
      }
    }
  }
}
