html {
  font-family: map-get($font, family);
  font-size: 10px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  & a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
  }
}

b,
strong {
  font-weight: bold;
  line-height: inherit;
}

i,
em {
  font-style: italic;
  line-height: inherit;
}

.title {
  margin-bottom: 0.4em;

  &.-h1 {
    font-size: 4.2rem;
  }

  &.-h2 {
    font-size: 3.2rem;
  }

  &.-h3 {
    font-size: 2.5rem;
  }
}

.paragraph {
  margin-bottom: 2em;
  font-size: 1.6rem;
  line-height: 1.6em;

  &.-excerpt {
    font-size: 2rem;
  }
}
